.heading {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 3.375rem;
    font-weight: 600;
    margin-top: 10rem;
}

.cardsWrapper {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 4rem;
    column-gap: 8rem;
    padding: 6rem;
    padding-left: 13rem;
}