.wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
}

.heroSection {
    width: 58%;
    justify-content: center;
}

.header {
    font-size: 3rem;
    text-align: center;
    span {
        font-weight: 500;
    }
}

.info {
    padding-left: 5rem;
    padding-right: 3rem;
    font-size: 1.2rem;
    opacity: 30%;
}

.textField {
    width: 100%;
    padding-left: 4rem;
    margin-top: 3rem;
}

.emailWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.938rem;
    width: 27.375rem;
    height: 4.625rem;
    border-radius: 2.688rem;
    border: 1px solid var(--color-black);
    background-color: var(--color-grey);
}

.emailWrapper button {
    width: 8.563rem;
    height: 3.875rem;
    border-radius: 2.688rem;
    border: 1px solid var(--color-primary);
    background-color: var(--color-primary);
    font-size: 1rem;
    font-weight: 600;
    margin-right: 0.313rem;
    cursor: pointer;
}

.emailWrapper input {
    background-color: var(--color-grey);
    font-size: 1rem;
    font-weight: 600;
    margin-right: 0.313rem;
    border: none;
    color: var(--color-white);
    font-weight: 400;
}

.emailIcon {
    margin-left: 1.875rem;
}