.wrapper {
    width: 22.438rem;
    height: 22.5rem;
    display: flex;
    flex-direction: column;
    border: 1.4px solid var(--color-lightGrey);
    border-radius: 0.875rem;
}

.cardWrapper {
    padding-left: 2rem;
    padding-top: 2rem;
    padding-right: 0rem;
    height: 20.5rem;
}

.name {
    font-size: 1.5rem;
    font-weight: 600;
}

.subHeading {
    margin-top: -15px;
    font-size: 0.875rem;
    font-weight: 400;
}

.text {
    font-size: 0.875rem;
    font-weight: 500;
    opacity: 30%;
    padding-right: 3.5rem;
    padding-top: 1rem;
}